
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', Times, serif
    background-color:#fff
    padding: 20px;
}

header {
    background-color: black
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 24px;
}

main {
    background-color: white
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

#profil {
    margin-top: 20px;
}

h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

/* Styling link */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #555;
}

img {
    width: 500px; 
    height: 500px;
}